* {
  box-sizing: border-box;
}

body {
  background-color: #456d8a;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* GLOBAL RESET MATERIAL UI */
.MuiTypography-h4 {
  font-size: 1.5rem !important;
}
